@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
<form action="/Admin/ChangePassword" method="post">
 <div class="row" style="margin-top:10px" >
     <div class="col-sm-3"></div>
     <div class="col-sm-6" style="background:linear-gradient(Darkorange,red,brown)">
       <center> 
           <span class="fa fa-key" style="font-size:70px;margin-top:20px;background:white;border-radius:50%;padding:20px;"></span><br />
            <span style="text-align:center;font-size:30px;color:white;font-family:'Palatino Linotype';text-shadow:2px,2px,2px black"> Change Password</span></center><br />
       <span style="text-align:center;font-size:20px;color:white;font-family:'Palatino Linotype';text-shadow:2px,2px,2px black">   Old Password</span><br />
         <input type="password" required="required" name="oldpasswd" class="form-control" placeholder="Enter Old Password"/><br />
      <span style="text-align:center;font-size:20px;color:white;font-family:'Palatino Linotype';text-shadow:2px,2px,2px black">  New Password</span><br />
         <input type="password" required="required" name="newpasswd" class="form-control" placeholder="Enter New Password" /><br />
      <span style="text-align:center;font-size:20px;color:white;font-family:'Palatino Linotype';text-shadow:2px,2px,2px black">  Confirm Password</span></br>
         <input type="password" required="required" name="confirmpasswd" class="form-control" placeholder="Enter Confirm Password"/><br /><br />
        <center><input type="submit" value="Submit" class="btn btn-success" style="font-family:'Palatino Linotype';font-weight:bold;"/><br /></center> <br />
     </div>
     <div class="col-sm-3"></div>
    
 </div><br /><br />
</form>


