@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
<style>
.col-sm-3
{
background:linear-gradient(Darkorange,red,brown);
min-height:150px;
margin:1.5%;
}
</style>

   

    
        <div class="row">
    <div class="col-sm-1 "></div>
    <div class="col-sm-3 hvr hvr-pulse" style="font-family:'Palatino Linotype';font-size:35px;text-align:center;padding-top:40px;color:white;font-weight:bold; " ><a href="/Admin/Index" style="text-decoration-line:none;text-decoration-color:white;" >Dashboard</a></div>
    <div class="col-sm-3 hvr hvr-buzz" style="font-family:'Palatino Linotype';font-size:35px;text-align:center;padding-top:20px;color:white;font-weight:bold; " ><a href="/Admin/MembersMgmt" style="text-decoration-line:none;text-decoration-color:white;" >Members Management</a></div>
    <div class="col-sm-3 hvr hvr-pulse" style="font-family:'Palatino Linotype';font-size:35px;text-align:center;padding-top:40px;color:white;font-weight:bold; " ><a href="/Admin/AddProgrammer" style="text-decoration-line:none;text-decoration-color:white;" >Add Programmer</a></div>
</div>
            <div class="row">
    <div class="col-sm-1 "></div>
    <div class="col-sm-3 hvr hvr-pulse" style="font-family:'Palatino Linotype';font-size:35px;text-align:center;padding-top:20px;color:white;font-weight:bold; " ><a href="/Admin/EnquiryMgmt" style="text-decoration-line:none;text-decoration-color:white;" >Enquiry Management</a></div>
    <div class="col-sm-3 hvr hvr-buzz" style="font-family:'Palatino Linotype';font-size:35px;text-align:center;padding-top:20px;color:white;font-weight:bold; " ><a href="/Admin/ProgrammerMgmt" style="text-decoration-line:none;text-decoration-color:white;" >Programmers Management</a></div>
    <div class="col-sm-3 hvr hvr-pulse" style="font-family:'Palatino Linotype';font-size:35px;text-align:center;padding-top:20px;color:white;font-weight:bold; " ><a href="/Admin/ReviewMgmt" style="text-decoration-line:none;text-decoration-color:white;" >Review Management </a></div>
</div>
   <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-3 hvr hvr-pulse" style="font-family:'Palatino Linotype';font-size:35px;text-align:center;padding-top:40px;color:white;font-weight:bold; " ><a href="/Admin/ChangePassword" style="text-decoration-line:none;text-decoration-color:white;" >Change Password</a></div>
    <div class="col-sm-3 hvr hvr-buzz" style="font-family:'Palatino Linotype';font-size:35px;text-align:center;padding-top:40px;color:white;font-weight:bold; " ><a href="/Admin/Logout" style="text-decoration-line:none;text-decoration-color:white;" >Logout</a></div>
    <div class="col-sm-2 "></div>
</div>
  

