@{
    ViewBag.Title = "About_US";
    Layout = "~/Views/Shared/GenralMaster.cshtml";
}
<div class="row" style="background:linear-gradient(pink,skyblue);margin:auto">
    <div class="col-sm-6" style="min-height:400px;padding:15px;
font-size:20px;font-family:'Palatino Linotype'">
        <h2 style="text-align:center;color:#0094ff;
        font-weight:bold">About of Project</h2><br />
        <ul style="color:#438dd8;font-family:'Imprint MT Shadow';font-size:20px;">
            <li>Any User can Registered here and he can upload his problem .</li>
            <li>All Type of Error or bugs will resolve by this portal .</li>
            <li>All Registered User can discuss into the discussion forum .</li>
            <li>Admin can see all details of Registered User .</li>
            <li>Admin can give the notifications to the users .</li>
            <li>Programmer's Adda is a user -friendly portal .</li>
        </ul>
    </div>
    <div class="col-sm-6" style="min-height:400px;padding:15px;
font-size:20px;font-family:'Palatino Linotype';">
        <h2 style="text-align:center;color:#0094ff;
        font-weight:bold">Guide By Mecatredz Technology Team</h2>
        <div class="row">
             <div class="col-sm-6" style="padding:15px;
font-size:20px;font-family:'Palatino Linotype';text-align:center;">
        <img src="~/Content/Images/mahaguru.png" height="150px" width="150px" style="margin-top:30px;border-radius:50%"/>
        <span style="font-size: 15px;font-family:'Imprint MT Shadow';color:#438dd8"> <br />Er. Akhilesh Sir (Mahaguru)<br /> Executive & Managing Director of <br /> Mecatredz Technology Pvt. Ltd. <br /> A real time Expert....</span>
    </div>
             <div class="col-sm-6" style="padding:15px;
font-size:20px;font-family:'Palatino Linotype';text-align:center;">
                 <img src="~/Content/Images/surajsirji.jpg" height="150px" width="150px" style="margin-top:30px;border-radius:50%"/>
        <span style="font-size: 15px;font-family:'Imprint MT Shadow';color:#438dd8;text-align:center"> <br />Er. Suraj Sir <br /> Cheif Operating Officer of <br /> Mecatredz Technology Pvt. Ltd. <br /> </span>
             </div>
            </div>
         <div class="row">
             <div class="col-sm-6" style="padding:15px;
font-size:20px;font-family:'Palatino Linotype';text-align:center;">
                 <img src="~/Content/Images/sandeepsir.jpg" height="150px" width="150px" style="margin-top:30px;border-radius:50%" />
        <span style="font-size: 15px;font-family:'Imprint MT Shadow';color:#438dd8"> <br />Er. Sandeep Sir<br /> Project Manager of <br /> Mecatredz Technology Pvt. Ltd. <br /> </span>
    </div>
             <div class="col-sm-6" style="padding:15px;
font-size:20px;font-family:'Palatino Linotype';text-align:center;">
                 <img src="~/Content/Images/tanyamam.png" height="150px" width="150px" style="margin-top:30px;border-radius:50%"/>
        <span style="font-size: 15px;font-family:'Imprint MT Shadow';color:#438dd8;text-align:center"> <br />Er.Tanya Mam <br /> HR Manager of <br /> Mecatredz Technology Pvt. Ltd. <br /> </span>
             </div>
            </div>
        </div>
</div>
<br /><br />