@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/GenralMaster.cshtml";
}
<script src="~/Content/js/jquery.js"></script>
<script>
   $(document).ready(function () {
       $("span").click(function () {
           var d = $(this).attr("data");
           $("#spr").val(d);
           for (var i = 1; i <= 5; i++)
           {
               if (i <= d)
               {
                   $(".sp" + i).css("color", "red");
               }
               else
               {
                   $(".sp" + i).css("color", "black");
               }
           }
       })
    })
</script>

<form action="/Home/Review" method="post">
<div class="row">
    <div class="col-sm-4"></div>
     <div class="col-sm-4" style="min-height:300px;margin-top:30px;
border:4px solid #0f68a9;background:linear-gradient(pink,skyblue);border-radius:10px;">
         <div class="row" style="background:#0f68a9;color:white;font-size:40px;
               text-align:center;font-family:'Imprint MT Shadow'">Review Form </div>
         <br />
         <span style="font-family:'Imprint MT Shadow';font-size:15px;">Name </span><br />
         <input type="text" name="name" class="form-control"
              placeholder="Enter Name" required="required" /><br />
        <span style="font-family:'Imprint MT Shadow';font-size:15px;"> Email Address </span><br />
         <input type="email" name="email" class="form-control"
              placeholder="Enter Email Address" required="required"/><br />
         <input type="hidden" name="rating" id="spr" />
         <center>
       <span style="font-family:'Imprint MT Shadow';font-size:15px;"> Please Gave Me A Feedback</span>  <br />
         
         <span class="fa fa-star sp1" style="font-size:50px;cursor:pointer;" data="1" ></span>
          <span class="fa fa-star sp2" style="font-size:50px;cursor:pointer" data="2"></span>
          <span class="fa fa-star sp3" style="font-size:50px;cursor:pointer" data="3"></span>
          <span class="fa fa-star sp4" style="font-size:50px;cursor:pointer" data="4"></span>
          <span class="fa fa-star sp5" style="font-size:50px;cursor:pointer" data="5"></span>
             
          <br /><br />
         <input type="submit" value="Submit" class="btn btn-danger" />
         <br /><br />
</center>
     </div>
     <div class="col-sm-4"></div>
</div>
<br /><br />
</form>










